.nav-bar{    
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 5vh;
  min-height: 60px;
  margin-top: 0px;
  font-size: large;
  font-weight: bold;
  justify-content: center;
}

.scores-container{
  margin: 0 8vw;
}

.game-zone{
  display: flex;
  flex-direction: column;
  box-shadow: 3px 8px 7px 6px rgba(240,240,240,0.54);
  margin: 0 8%;
  min-width: 500px;
}

.gif-container{
  height:350px;
  align-self:center;
}

.gif-img{
  height:350px;
  max-width: 450px
}

.button-choice{
  background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    margin: 1em;
}

.button-choice:hover, .button-choice:active  {
  background:white;
  color: black;
}

.homepage-button{
  display: flex;
  justify-content: center;
}

.button-container{
  display: flex;
  justify-content: center;

}

.ending-gif{
  height:30vh
}

.end-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.button-redirect{
  background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
}

.button-redirect:hover, .button-redirect:active  {
  background:white;
  color: black;
}

.button-choice:disabled{
  background-color: red;
  color: white;
}

button[disabled]:hover {
  background: red;
}

.button-container-game{
  display: flex;
  justify-content: center;
}

.chosing-options{
  margin-left:3vw;
}